@model FileUploader.Web.Models.ViewImageModel

@if (!Model.HasPermission) {


<div class="row">
        <div class="col-md-6 offset-md-3 jumbotron">
            @if (!String.IsNullOrEmpty(Model.Message)) { 
            <h3 class="alert-danger">@Model.Message</h3>
            }

        <h4>  please enter password for this image:</h4>
            <form method="post" action="/Home/viewimage">
                <input type="hidden" name="id" value="@Model.Image.Id" />
                <input type="text" class="form-control" name="password" placeholder="password" />
                <br/>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
}
            else
            {
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <img src="/uploads/@Model.Image.FileName" style="width: 800px;" />
                        <h3>Views: @Model.Image.Views</h3>
                    </div>
                </div>
            }
